
article.news {

}

article.news header {
    background-size:cover;
    width:100%;
    height:200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
article.news header h1.title {
    flex: 1;
}
article.news header h1.title a {
    color: white;
    text-decoration: none;
}
article.news.preview header p.news-metadata {
    /* Seul ce bloc sera aligné à la fin */
    align-self: flex-end;
}
