article.news {}

article.news header {
    background-size: cover;
    background-position: center;
    /* height:200px; */
    justify-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    min-height: 200px;
    /* background-color: rgba(33, 33, 33, .3); */
    font-size: 2em;
}

article.news header h1.title {
    display: inline;
}

article.news header h1.title a {
    font-size: 3em;
    color: white;
    text-decoration: none;
    margin: auto;
    width: 100%;
}
article.news header p.news-metadata {
    /* Seul ce bloc sera aligné à la fin */
    align-self: flex-end;
    float: right;
    color: white;
}
