
article.news {

}

article.news header {
    background-size: cover;
    background-position: center;
    width:100%;
    height:200px;
    justify-content: center;
}
article.news header h1.title {
    display: flex;
    align-items: center;
    font-size:2em;
}
article.news header h1.title a {
    color: white;
    text-decoration: none;
    margin:auto;
}
article.news.preview header p.news-metadata {
    /* Seul ce bloc sera aligné à la fin */
    align-self: flex-end;
    float: right;
    color: white;
}
