{% extends '@OcdNews/baseAdmin.html.twig' %}

{% block title %}News Suppression - {{parent()}}{% endblock %}


{% block main %}
<h2 class="page-header">Supprimer une News</h2>
<p>
Etes-vous certain de vouloir supprimer cette News ?
<a href="{{path('admin_news_delete', {id:news.id, confirm:1})}}" class="btn btn-danger">OUI</a> OU 
<a href="{{path('admin_news_list')}}" class="btn btn-primary">NON</a>
</p>
{% endblock %}
